{% load static %}
<!doctype html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="{% static 'learn/custom.css' %}" />
    {% include "base/css.html" %}
    <title>{% block head_title %}Django CRM {% endblock %}</title>
  </head>
  <body>
    <div>My nav is this</div>
    {% block content %}
      replace me
    {% endblock content %}
  </body>
</html>
